
@CHARSET "ISO-8859-1";

#imagen{
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.custom-search-form{
    padding-top:5px;
}
.buscador{
	background-color: #37454d;
	padding: 20px;
}
#colorletra{
	color: #007fad;
}
Add Comment Collapse

joelightyear [10:54 AM]  
added a Java snippet 
